<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reportes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div class="ion-text-center">
        <ion-title>Resumen {{fecha}} {{_turno}}</ion-title>
      </div>
      <br>
      <ion-item>
        <ion-label>Estudiantes Dentro del CADA</ion-label>
        <ion-note slot="end" color="secondary">{{contAsistencia-(contRetiro+contSalida)}}</ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Profesores Dentro del CADA</ion-label>
        <ion-note slot="end" color="secondary">{{contProfesPresentes}}</ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label (click)="goToAsistenciaHoy()">Asistencia del Día</ion-label>
        <ion-note slot="end" color="secondary">{{contAsistencia}}</ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Llegada Tardía</ion-label>
        <ion-note slot="end" color="secondary">{{contAsistenciaTarde}}</ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Estudiantes Ausentes</ion-label>
        <ion-note slot="end" color="secondary">{{contEstudMatriculados-contAsistencia}}</ion-note>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Estudiantes Retirados</ion-label>
        <ion-note slot="end" color="secondary">{{contRetiro+contSalida}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-content>